.main-container-of-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.main-container-of-view .title {
    font-size: 3rem;
}


.inside-container {
    overflow-y: auto;
    width: 50%;
    height: 70vh;
    box-shadow: 0px 0px 40px rgba(60, 60, 150, 0.25);
    margin: 20px;
    transition: scale 0.3s ease-in-out;

}

.inside-container:hover {
    scale: 1.05;
    transition: scale 0.3s ease-in-out;

}

/* .course-block:last-child {
    border: none;
} */


.course-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid orangered;
    padding-bottom: 20px;
    height: fit-content;

}

.course-block:hover {
    color: orangered;
    box-shadow: 0px 0px 40px rgba(60, 60, 150, 0.1);
    transform: translateY(-5%);
    transition: all 0.3s ease-in-out;
}

.course-block h4 {
    display: flex;
    color: rgb(186, 182, 182);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    margin-bottom: 3px;
}

.input-label {
    display: flex;
    align-content: center;
    margin: 10px;
}

.input-label input {
    width: 25px;
    margin-right: 20px;
    padding: 20px;

}

.add-blur {
    filter: blur(10px);
    transition: all 0.5s ease-in-out;
}

.no-blur {
    filter: blur(0px);
    transition: all 0.5s ease-in-out;
}

.hide-filter {
    z-index: -100;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.show-filter {
    z-index: 200;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.smbtd-msg {
    background-color: rgb(244, 250, 254);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 40px rgba(60, 60, 150, 0.25);
    padding: 50px;
    min-width: 50%;
    height: 30rem;
}

.move-center {
    transform: translate(-50%, -50%);

}

.move-left {
    transform: translate(-100%, -50%);
    transition: all 0.5s ease-in-out;
}

.move-right {
    transform: translate(40%, -50%);
}

.course-block-parent{
    height: 80%;
    overflow-y: auto;
}

.btn-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.btn-style {
    margin: 10px;
    margin-top: 13px;
    background-color: aliceblue;
    height: 40px;
    width: 120px;
    border: none;
    box-shadow: 0px 0px 10px rgba(105, 117, 127, 0.5);
    transition: scale 0.3s ease-in-out;

}

.btn-style:hover {
    background-color: orangered;
    box-shadow: 0px 0px 10px orangered;
    scale: 1.1;

}

#display-title{
    font-size: 3rem;
    color: orangered;
}
#courses-in-cart{
    margin-left: 10px;
}

.checkout-courses{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    overflow-y: auto;
    justify-content: center;
    height: 50%;
}

.checkout-courses p{
    font-size: 1.5rem;
    margin: 5px 0px;
}

.checkout-courses p span{
    font-size: 1rem;
    color: rgb(190, 190, 190);
    margin-left: 10px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30%;
}